body {
  background-color: rgb(255, 255, 255);
}

#canvas{
  position: absolute;
  top: 10px;
  left: 50%;
  z-index:1;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
}
#scelta{
  position: absolute;
  z-index: 9999;
  left:85%;
}

#video{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:-1;
  border: 3px #fff solid;
  border-radius: 10px;
  -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
}

.FullScreen{
  top:0 !important;
  left: 0 !important;
  position: absolute;
  width:100% !important;
  height: 100% !important;
}
