body {
  background-color: rgb(255, 255, 255);
}

#canvas{
  position: absolute;
  top: 10px;
  left: 50%;
  z-index:1;
}
#scelta{
  position: absolute;
  z-index: 9999;
  left:85%;
}

#video{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:-1;
  border: 3px #fff solid;
    border-radius: 10px;
}

.FullScreen{
  top:0 !important;
  left: 0 !important;
  position: absolute;
  width:100% !important;
  height: 100% !important;
}
